__pycache__
.ipynb_checkpoints
.DS_Store
build
dist
mcautograder.egg-info
mcautograder/tests.py
mcautograder/test.ipynb
mcautograder/.ipynb_checkpoints
demo/__pycache__
demo/.ipynb_checkpoints
mcautograder/__pycache__